<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633056637601-l2ngr9t2qt6s3dkqp4cjllqgia4fnro2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633056637601-l2ngr9t2qt6s3dkqp4cjllqgia4fnro2</string>
	<key>API_KEY</key>
	<string>AIzaSyAyDJMcoaiIkCnFl0ayYr9x9eCIH4hRPec</string>
	<key>GCM_SENDER_ID</key>
	<string>633056637601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scostudent</string>
	<key>PROJECT_ID</key>
	<string>scoschool-6e468</string>
	<key>STORAGE_BUCKET</key>
	<string>scoschool-6e468.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633056637601:ios:77c6ef3e0b4303ca2836e0</string>
</dict>
</plist>